@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$main-color: #7678ed;
$hover-main: #6c6eda;
$blk-color: #171614;
$grey-color: #36363683;
$main-font: "Poppins", sans-serif;


.container {
  text-align: center;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    width: 30rem;
    height: 33rem;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    @media screen and (max-width: 768px) {
      width: 25rem;
      height: 33rem;
    }

    .card-header {
      h1 {
        font-size: 1.25rem;
        font-weight: 400;
        color: $blk-color;

        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      p {
        font-size: 0.75rem;
        font-weight: 400;
        color: $blk-color;

        padding-bottom: 1.5rem;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 2px dashed $main-color;
      border-radius: 1rem;

      background-color: #e7c6ff2f;

      padding: 3rem;

      height: 15rem;
      width: 25rem;

      margin-bottom: 1rem;

      img {
        padding-bottom: 1rem;
      }

      p {
        font-size: 0.8rem;
        font-weight: 400;
        color: $grey-color;
      }

      @media screen and (max-width: 768px) {
        width: 20rem;
      }
    }

    .or {
      margin-bottom: 1rem;
    }

    .choose-file {
      background-color: $main-color;
      border: none;
      margin: 0;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 3rem;
      width: 7rem;

      color: #fff;
      border-radius: 0.65rem;

      font-size: 0.9rem;

      cursor: pointer;

      &:hover {
        background-color: $hover-main;
      }
    }
  }
}

.drag-drop {
  // border: 3px solid red;
  width: 25rem;
  height: 30rem;
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drag-drop-2 {
  // border: 3px solid blue;
  width: 25rem;
  height: 5rem;
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    height: 15rem;
  }
}

.err-msg {
  @media screen and (max-width: 768px) {
    width: 25rem;
  }
}

.branding {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  padding-bottom: 1rem;

  color: #00000088;
}

span {
  padding-left: 5px;
  padding-right: 5px;
}

a {
  color: rgba(118, 120, 237, 0.704);

  text-decoration: none;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.533);

  padding-left: 5px;
}