@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$main-color: #7678ed;
$hover-main: #6c6eda;
$blk-color: #171614;
$grey-color: #36363683;
$main-font: "Poppins", sans-serif;


.card-uploading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    width: 25rem;
    height: 10rem;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .card-wrapper {
        
        h1 {
            font-size: 1.25rem;
            font-weight: 400;
            color: $blk-color;

            padding-bottom: 1rem;
        }
    }

    .box {
        width: 15rem;
    }

    .loader {
        background-color: #7678ed77;
        color: $main-color;
        border-radius: 1rem;
        height: .45rem;
    }

    .css-5ir5xx-MuiLinearProgress-bar1 {
        background-color: $main-color;
    }

    .css-1r8wrcl-MuiLinearProgress-bar2 {
        background-color: $main-color;
    }
}